// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

#container-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #002244; /* Old browsers */
  background: -moz-linear-gradient(top,  #001122 0%, #004466 100%); /* FF3.6+ */
  background: -webkit-linear-gradient(top,  #001122 0%,#004466 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #001122 0%,#004466 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #001122 0%,#004466 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #001122 0%,#004466 100%); /* W3C */
}

#container-inner {
  margin: 0 auto;
  width: 1000px;
}

#canvas_bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

form {
  display: none;
}

#board {
}

fieldset {
  width: 470px;
  display: inline-block;
  margin-bottom: 5px;
}
