// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#board {
  background: #eee;
  border: 3px solid black;
}

fieldset {
  width: 470px;
  display: inline-block;
  margin-bottom: 5px;
}
