<!DOCTYPE html>
<html>
<head>
  <title>Nodes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container-outer">
  <div id="container-inner">
    <%= yield %>
  </div>
</div>

</body>
</html>
